USE [GymMembershipSystem]
GO
ALTER TABLE [dbo].[Spa_Booking] DROP CONSTRAINT [FK_Spa_Booking_Staff]
GO
ALTER TABLE [dbo].[Spa_Booking] DROP CONSTRAINT [FK_Spa_Booking_Spa_Service]
GO
ALTER TABLE [dbo].[Spa_Booking] DROP CONSTRAINT [FK_Spa_Booking_Member]
GO
ALTER TABLE [dbo].[Payment] DROP CONSTRAINT [FK_Payment_Staff]
GO
ALTER TABLE [dbo].[Payment] DROP CONSTRAINT [FK_Payment_Spa_Booking]
GO
ALTER TABLE [dbo].[Payment] DROP CONSTRAINT [FK_Payment_Membership_Plan]
GO
ALTER TABLE [dbo].[Payment] DROP CONSTRAINT [FK_Payment_Member]
GO
ALTER TABLE [dbo].[Payment] DROP CONSTRAINT [FK_Payment_Class_Roster]
GO
ALTER TABLE [dbo].[Member] DROP CONSTRAINT [FK_Member_Membership_Plan]
GO
ALTER TABLE [dbo].[Class_Session] DROP CONSTRAINT [FK_Class_Session_Staff]
GO
ALTER TABLE [dbo].[Class_Session] DROP CONSTRAINT [FK_Class_Session_Class_Catalog]
GO
ALTER TABLE [dbo].[Class_Roster] DROP CONSTRAINT [FK_Class_Roster_Member]
GO
ALTER TABLE [dbo].[Class_Roster] DROP CONSTRAINT [FK_Class_Roster_Class_Session]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 3/17/2026 8:22:49 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Staff]') AND type in (N'U'))
DROP TABLE [dbo].[Staff]
GO
/****** Object:  Table [dbo].[Spa_Service]    Script Date: 3/17/2026 8:22:49 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Spa_Service]') AND type in (N'U'))
DROP TABLE [dbo].[Spa_Service]
GO
/****** Object:  Table [dbo].[Spa_Booking]    Script Date: 3/17/2026 8:22:49 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Spa_Booking]') AND type in (N'U'))
DROP TABLE [dbo].[Spa_Booking]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 3/17/2026 8:22:49 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Payment]') AND type in (N'U'))
DROP TABLE [dbo].[Payment]
GO
/****** Object:  Table [dbo].[Membership_Plan]    Script Date: 3/17/2026 8:22:49 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Membership_Plan]') AND type in (N'U'))
DROP TABLE [dbo].[Membership_Plan]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 3/17/2026 8:22:49 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Member]') AND type in (N'U'))
DROP TABLE [dbo].[Member]
GO
/****** Object:  Table [dbo].[Class_Session]    Script Date: 3/17/2026 8:22:49 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Class_Session]') AND type in (N'U'))
DROP TABLE [dbo].[Class_Session]
GO
/****** Object:  Table [dbo].[Class_Roster]    Script Date: 3/17/2026 8:22:49 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Class_Roster]') AND type in (N'U'))
DROP TABLE [dbo].[Class_Roster]
GO
/****** Object:  Table [dbo].[Class_Catalog]    Script Date: 3/17/2026 8:22:49 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Class_Catalog]') AND type in (N'U'))
DROP TABLE [dbo].[Class_Catalog]
GO
/****** Object:  Table [dbo].[Class_Catalog]    Script Date: 3/17/2026 8:22:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class_Catalog](
	[ClassID] [int] NOT NULL,
	[ClassName] [varchar](100) NOT NULL,
	[Capacity] [int] NOT NULL,
	[DurationMinutes] [int] NOT NULL,
 CONSTRAINT [PK_Class_Catalog] PRIMARY KEY CLUSTERED 
(
	[ClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Class_Roster]    Script Date: 3/17/2026 8:22:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class_Roster](
	[RosterID] [int] NOT NULL,
	[SessionID] [int] NOT NULL,
	[MemberID] [int] NOT NULL,
	[AttendanceStatus] [varchar](20) NULL,
 CONSTRAINT [PK_Class_Roster] PRIMARY KEY CLUSTERED 
(
	[RosterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Class_Session]    Script Date: 3/17/2026 8:22:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class_Session](
	[SessionID] [int] NOT NULL,
	[ClassID] [int] NOT NULL,
	[StaffID] [int] NOT NULL,
	[SessionDate] [date] NOT NULL,
	[StartTime] [time](7) NOT NULL,
 CONSTRAINT [PK_Class_Session] PRIMARY KEY CLUSTERED 
(
	[SessionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 3/17/2026 8:22:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[MemberID] [int] NOT NULL,
	[PlanID] [int] NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Email] [varchar](100) NULL,
	[Phone] [varchar](100) NULL,
	[JoinDate] [date] NOT NULL,
 CONSTRAINT [PK_Member] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Membership_Plan]    Script Date: 3/17/2026 8:22:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Membership_Plan](
	[PlanID] [int] NOT NULL,
	[PlanName] [varchar](50) NOT NULL,
	[MonthlyPrice] [decimal](10, 0) NOT NULL,
 CONSTRAINT [PK_Membership_Plan] PRIMARY KEY CLUSTERED 
(
	[PlanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 3/17/2026 8:22:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentID] [int] NOT NULL,
	[MemberID] [int] NOT NULL,
	[StaffID] [int] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[PaymentDate] [date] NOT NULL,
	[PaymentTime] [time](7) NOT NULL,
	[PaymentStatus] [varchar](20) NOT NULL,
	[PlanID] [int] NULL,
	[BookingID] [int] NULL,
	[RosterID] [int] NULL,
 CONSTRAINT [PK_Payment] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Spa_Booking]    Script Date: 3/17/2026 8:22:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Spa_Booking](
	[BookingID] [int] NOT NULL,
	[MemberID] [int] NOT NULL,
	[ServiceID] [int] NOT NULL,
	[StaffID] [int] NOT NULL,
	[AppointmentDate] [date] NOT NULL,
	[AppointmentTIme] [time](7) NOT NULL,
	[Status] [varbinary](20) NULL,
 CONSTRAINT [PK_Spa_Booking] PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Spa_Service]    Script Date: 3/17/2026 8:22:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Spa_Service](
	[ServiceID] [int] NOT NULL,
	[ServiceName] [varchar](100) NOT NULL,
	[DurationMinutes] [int] NOT NULL,
	[AdditionalCost] [decimal](10, 0) NOT NULL,
 CONSTRAINT [PK_Spa_Service] PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 3/17/2026 8:22:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[StaffID] [int] NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Role] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Staff] PRIMARY KEY CLUSTERED 
(
	[StaffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Class_Roster]  WITH CHECK ADD  CONSTRAINT [FK_Class_Roster_Class_Session] FOREIGN KEY([SessionID])
REFERENCES [dbo].[Class_Session] ([SessionID])
GO
ALTER TABLE [dbo].[Class_Roster] CHECK CONSTRAINT [FK_Class_Roster_Class_Session]
GO
ALTER TABLE [dbo].[Class_Roster]  WITH CHECK ADD  CONSTRAINT [FK_Class_Roster_Member] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Member] ([MemberID])
GO
ALTER TABLE [dbo].[Class_Roster] CHECK CONSTRAINT [FK_Class_Roster_Member]
GO
ALTER TABLE [dbo].[Class_Session]  WITH CHECK ADD  CONSTRAINT [FK_Class_Session_Class_Catalog] FOREIGN KEY([ClassID])
REFERENCES [dbo].[Class_Catalog] ([ClassID])
GO
ALTER TABLE [dbo].[Class_Session] CHECK CONSTRAINT [FK_Class_Session_Class_Catalog]
GO
ALTER TABLE [dbo].[Class_Session]  WITH CHECK ADD  CONSTRAINT [FK_Class_Session_Staff] FOREIGN KEY([StaffID])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[Class_Session] CHECK CONSTRAINT [FK_Class_Session_Staff]
GO
ALTER TABLE [dbo].[Member]  WITH CHECK ADD  CONSTRAINT [FK_Member_Membership_Plan] FOREIGN KEY([PlanID])
REFERENCES [dbo].[Membership_Plan] ([PlanID])
GO
ALTER TABLE [dbo].[Member] CHECK CONSTRAINT [FK_Member_Membership_Plan]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Class_Roster] FOREIGN KEY([RosterID])
REFERENCES [dbo].[Class_Roster] ([RosterID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Class_Roster]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Member] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Member] ([MemberID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Member]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Membership_Plan] FOREIGN KEY([PlanID])
REFERENCES [dbo].[Membership_Plan] ([PlanID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Membership_Plan]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Spa_Booking] FOREIGN KEY([BookingID])
REFERENCES [dbo].[Spa_Booking] ([BookingID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Spa_Booking]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Staff] FOREIGN KEY([StaffID])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Staff]
GO
ALTER TABLE [dbo].[Spa_Booking]  WITH CHECK ADD  CONSTRAINT [FK_Spa_Booking_Member] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Member] ([MemberID])
GO
ALTER TABLE [dbo].[Spa_Booking] CHECK CONSTRAINT [FK_Spa_Booking_Member]
GO
ALTER TABLE [dbo].[Spa_Booking]  WITH CHECK ADD  CONSTRAINT [FK_Spa_Booking_Spa_Service] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Spa_Service] ([ServiceID])
GO
ALTER TABLE [dbo].[Spa_Booking] CHECK CONSTRAINT [FK_Spa_Booking_Spa_Service]
GO
ALTER TABLE [dbo].[Spa_Booking]  WITH CHECK ADD  CONSTRAINT [FK_Spa_Booking_Staff] FOREIGN KEY([StaffID])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[Spa_Booking] CHECK CONSTRAINT [FK_Spa_Booking_Staff]
GO
